<style>

h1 {
    color: rgb(167, 18, 92);
}

      h2 {
color: rgb(212, 44, 128);
font-size: 2em;
}
body {
  background-color: rgb(250, 204, 229);
  font-size: 20px;
}
#sobre-mim {
  background-color:rgb(90, 185, 82)
}
#sobre {
  color: rgb(212, 44, 128);
  font-size: 40px;
}
#list {
  background-color: rgb(90, 185, 82);
  font-weight: bold;
  line-height: 40px;
  text-align: justify;
}

#habilidades {
    color: rgb(212, 44, 128);
}

#blog {
    background-color: rgb(90, 185, 82);
}

p {
  font-family: fantasy; 
}

    </style>
